In [1]:
import pandas as pd
import re

In [2]:
import OpenDartReader

### 0. 객체 생성 ###
# 객체 생성 (API KEY 지정) 
api_key = 'ebd213d75beaeac7659874cda6ec4ec28394fdc3'

dart = OpenDartReader(api_key)

In [3]:
corp_name_list = ['다올투자증권','다우데이타','SK증권','메리츠금융지주','NH투자증권','한국금융지주','다우기술','대신증권','유안타증권','삼성증권','유진증권','한양증권','현대차증권','이베스트투자증권','교보증권','DB금융투자','유화증권','부국증권','신영증권','코리아에셋투자증권','상상인증권','키움증권']
corp_code_list = []

In [4]:
df = pd.DataFrame()

for i in corp_name_list:
    for k in [2020,2021,2022]:
        corp_code_list.append(dart.find_corp_code(i))
        temp = dart.report(i,'임원',k)
        temp['year'] = k
        df = pd.concat([df,temp])

df.columns = ['접수번호', '법인구분', '고유번호', '법인명', '이름', '성별', '생년월일', '직위', '등기임원여부', '상근여부', '담당업무', '주요경력', '최대주주와의관계', '재직기간', '임기만료일', '보고서연도']
df.to_csv("./df_executive.csv", index = False)

In [5]:
df = pd.DataFrame()

for i in corp_name_list:
    for k in [2020,2021,2022]:
        temp = dart.report(i,'최대주주',k)
        temp['year'] = k
        df = pd.concat([df,temp])

df.columns = ['접수번호', '법인구분', '고유번호', '법인명', '주식의종류', '이름', '관계', '기초주식수', '기초주식지분율', '기말주식수', '기말주식지분율', '비고', '보고서연도']
df.to_csv("./df_shareholder.csv", index = False)

In [6]:
df_executive = pd.read_csv('./df_executive.csv', sep=",", encoding = 'UTF-8')
df_shareholder = pd.read_csv('./df_shareholder.csv', sep=",", encoding = 'UTF-8')

In [7]:
df_executive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078 entries, 0 to 2077
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   접수번호      2078 non-null   int64
 1   법인구분      2078 non-null   object
 2   고유번호      2078 non-null   int64
 3   법인명       2078 non-null   object
 4   이름        2078 non-null   object
 5   성별        2078 non-null   object
 6   생년월일      2078 non-null   object
 7   직위        2078 non-null   object
 8   등기임원여부    2078 non-null   object
 9   상근여부      2078 non-null   object
 10  담당업무      2078 non-null   object
 11  주요경력      2078 non-null   object
 12  최대주주와의관계  2078 non-null   object
 13  재직기간      2078 non-null   object
 14  임기만료일     2078 non-null   object
 15  보고서연도     2078 non-null   int64
dtypes: int64(3), object(13)
memory usage: 259.9+ KB

In [8]:
df = pd.DataFrame()

for k in [2020,2021,2022]:
    temp = dart.report('대신증권','임원',k)
    temp['year'] = k
    df = pd.concat([df,temp])
    
df.columns = ['접수번호', '법인구분', '고유번호', '법인명', '이름', '성별', '생년월일', '직위', '등기임원여부', '상근여부', '담당업무', '주요경력', '최대주주와의관계', '재직기간', '임기만료일', '보고서연도']
df.to_csv("./df_daishin_executive.csv", index = False)

In [9]:
df = pd.DataFrame()

for k in [2020,2021,2022]:
    temp = dart.report('대신증권','최대주주',k)
    temp['year'] = k
    df = pd.concat([df,temp])
    
df.columns = ['접수번호', '법인구분', '고유번호', '법인명', '주식의종류', '이름', '관계', '기초주식수', '기초주식지분율', '기말주식수', '기말주식지분율', '비고', '보고서연도']
df.to_csv("./df_daishin_shareholder.csv", index = False)

In [10]:
daishin_executive = pd.read_csv('./df_daishin_executive.csv', sep=",", encoding = 'UTF-8')
daishin_shareholder = pd.read_csv('./df_daishin_shareholder.csv', sep=",", encoding = 'UTF-8')

In [11]:

daishin_executive.head()

,접수번호,법인구분,고유번호,법인명,이름,성별,생년월일,직위,등기임원여부,상근여부,담당업무,주요경력,최대주주와의관계,재직기간,임기만료일,보고서연도
0,20210311001204,Y,110893,대신증권,이어룡,여,1953년 09월,회장,등기임원,상근,-,상명여자사범대,1항 1호 나,2004.09.24~\n2020.12.31,2021년 03월 19일,2020
1,20210311001204,Y,110893,대신증권,신인식,남,1962년 01월,전무,미등기임원,상근,-,성균관대 회계학\n대신증권 무역센터지점장\n 대신증권 강남선릉센터 이사대우센터장\n...,-,2013.04.01~\n2020.12.31,2021년 03월 19일,2020
2,20210311001204,Y,110893,대신증권,길기모,남,1968년 12월,전무,미등기임원,상근,리스크관리부문장,서울대 경제학\n메리츠종금증권 심사팀장\n메리츠종금증권 리스크관리본부장,-,2019.04.01~\n2020.12.31,2021년 03월 31일,2020
3,20210311001204,Y,110893,대신증권,조경순,남,1964년 01월,전무,미등기임원,상근,대외협력담당,연세대 경제학(석사)\n대신증권 홍보실 이사대우실장\n대신증권브랜드전략실 이사대우실...,-,2014.01.01~\n2020.12.31,2021년 03월 19일,2020
4,20210311001204,Y,110893,대신증권,홍대한,남,1963년 05월,전무,미등기임원,상근,준법감시인\n/준법지원부문장,서강대 경제학\n대신증권영업기획부장\n대신증권기획실장\n대신증권인재전략부 이사대우부...,-,2014.01.01~\n2020.12.31,2021년 12월 31일,2020

In [12]:
daishin_executive['접수번호'].unique()

array([20210311001204, 20220516001812, 20230316001545], dtype=int64)

In [13]:
daishin_executive['법인구분'].unique()

array(['Y'], dtype=object)

In [14]:
daishin_executive['고유번호'].unique() #회사 고유번호 반환

array([110893], dtype=int64)

In [15]:
daishin_executive['법인명'].unique()

array(['대신증권'], dtype=object)

In [16]:
daishin_executive['이름'].unique()

array(['이어룡', '신인식', '길기모', '조경순', '홍대한', '이정화', '진승욱', '권택현', '박성준',
       '정연규', '정재중', '양홍석', '김호중', '문병식', '정연우', '이순남', '임민수', '김수창',
       '이재우', '홍종국', '최근영', '김상원', '오익근', '나유석', '신재범', '강준규', '강윤기',
       '김성원', '정기동', '박현식', '이지원', '김병철', '이창세', '조홍희', '김범철', '송혁',
       '유창범', '박정환', '이정훈', '김봉진', '이성영', '김창수', '원윤희', '송종원', '김경렬',
       '김광혁', '박석원', '김성균', '최광철', '최대경', '김상혁', '정회민', '김성호'],
      dtype=object)

In [17]:
ds_ex_pr = daishin_executive.drop(columns = ['접수번호', '법인구분', '고유번호', '법인명'])

In [18]:

ds_ex_pr['나이'] = ds_ex_pr['생년월일'].apply(lambda x : 2023 - int(x[:4]) + 1) #나이피처 생성
ds_ex_pr.drop(columns='생년월일', inplace = True) #생년월일 피처 제거

In [19]:
ds_ex_pr['입사시기']=ds_ex_pr['재직기간'].str[:4].astype('int') #입사시기 피처 생성

In [20]:

temp = ds_ex_pr['재직기간'].str.split('~\n|~')
firstY=temp.str.get(0)
secondY=temp.str.get(1)

firstY=firstY.apply(lambda x : x[:4])
secondY=secondY.apply(lambda x : x[:4])

ds_ex_pr['근속연수']=secondY.astype('int')-firstY.astype('int')

In [21]:
ds_ex_pr.drop(columns=['보고서연도', '재직기간', '임기만료일'], inplace = True) #보고서연도, 재직기간, 임기만료일 피처 제거

In [22]:
temp=ds_ex_pr['주요경력'].str.split('\n')
colleges=temp.str.get(0)
colleges.unique()

array(['상명여자사범대', '성균관대 회계학', '서울대 경제학', '연세대 경제학(석사)', '서강대 경제학',
       '부경대 무역학', '한양대 경영학', '경북대 경영학', '홍익대 경영학', '전남대 회계학',
       '전남대 국제경영학(석사)', '서울대 경영학', '성균관대 무역학', '서강대 경제학(석사)', '연세대 경영학',
       '동국대 경영학(석사)', '성균관대 법학', '연세대 인적자원개발학(석사)', '중앙대 산업정보학',
       '조선대 회계학', '한국외국어대 경영학(석사)', '경희대 경제학', '한국과학기술원 MBA', '세종대 회계학',
       '가천대 무역학', '성균관대 경영학', '연세대 경영학(석사)', '전남대 경영학', '충북대 전산학',
       '서울대 경영학(석사)', '성균관대 행정학(박사)', '서울대 법학',
       'University of Bath 사회과학대학원(석사)', '고려대 경영학', '전북대 회계학',
       '서울대 행정학(석사)', '한국외대 경영학(석사)', '세종대학교 회계학', '가천대학교 무역학',
       '성균관대학교 경영학', '서울대 기계공학', '동아대 경영학(박사)', '충북대학교 전산학', '중앙대 무역학',
       'Florida International University 경영대학원(박사)',
       'Ohio State University 정책대학원(박사)', '동국대 무역학', '인하대 경제통상학',
       '중앙대 응용통계학', '중앙대 경영학', '서강대 사회학', '인하대 정치외교학', '원광대 통계학',
       '건국대 법학(박사)'], dtype=object)

In [23]:
#영어 대학 공백제거
colleges[colleges== 'University of Bath 사회과학대학원(석사)'] ='UniversityofBath 사회과학대학원(석사)'
colleges[colleges== 'Florida International University 경영대학원(박사)']='FloridaInternationalUniversity 경영대학원(박사)'
colleges[colleges== 'Ohio State University 정책대학원(박사)'] = 'OhioStateUniversity 정책대학원(박사)'

#대학, 전공으로 나누기
ttemp = colleges.str.split() 

#대학 피처 생성
ds_ex_pr['대학교']=ttemp.str.get(0)

In [25]:
#전공 피처 생성
tttemp = ttemp.str.get(1)
tttemp=tttemp.replace(r'[)]*', '', regex=True)
ds_ex_pr['전공']=tttemp

In [26]:
#학력 피처 생성
def getDegree(x):
    if x.find('박사')!=-1:
      return 2
    elif x.find('석사')!=-1:
      return 1
    else:
      return 0

#학사 0, 석사 1, 박사 2
ds_ex_pr['학력'] = daishin_executive['주요경력'].apply(lambda x : getDegree(x))

In [27]:
#주요경력 피처 제거
ds_ex_pr.drop(columns='주요경력', inplace = True)

In [28]:
ds_ex_pr.head()

,이름,성별,직위,등기임원여부,상근여부,담당업무,최대주주와의관계,나이,입사시기,근속연수,대학교,전공,학력
0,이어룡,여,회장,등기임원,상근,-,1항 1호 나,71,2004,16,상명여자사범대,NaN,0
1,신인식,남,전무,미등기임원,상근,-,-,62,2013,7,성균관대,회계학,0
2,길기모,남,전무,미등기임원,상근,리스크관리부문장,-,56,2019,1,서울대,경제학,0
3,조경순,남,전무,미등기임원,상근,대외협력담당,-,60,2014,6,연세대,경제학(석사,1
4,홍대한,남,전무,미등기임원,상근,준법감시인\n/준법지원부문장,-,61,2014,6,서강대,경제학,0